/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    /* Adjust as needed for your design */
}

.header {
    background: linear-gradient(#04519b, #033C73 60%, #02325f);
    color: white;
    height: 60px;
    width: 100%;
    /* Ensure it stays above other content */
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.card {
    background-color: #f8f9fa;
    color: #333;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.resize {
    resize: both;
}

.wide {
    width: 800px;
}

.card-header {
    /* [top] [right] [bottom] [left]; */
    background-color: #e9ecef;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 10px 5px 10px;
    cursor: move;
}

.card-title {
    margin-bottom: 0;
}

.close {
    color: #000;
    float: right;
    margin-left: 10px;
    /* space x from float .right icons */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
}

.right {
    float: right;
}

.close:hover {
    opacity: 1;
}

.card-body {
    padding: 10px;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.title .link {
    margin-right: 0.5rem;
}

.title .icon {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* Align nav items to the right */
}

.nav li {
    margin: 0 0.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav a:hover {
    color: #dddddd;
}

/* Page Content */
.page {
    padding: 2rem;
    background-color: white;
    color: black;
    margin-top: 60px;
    /* Add margin to avoid content being hidden under the fixed navbar */
}

h5 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

p {
    margin: 1rem 0;
}

ul {
    margin: 1rem 0;
    padding: 0 1.5rem;
}

ul li {
    margin: 0.5rem 0;
}

/* Additional Styles */
.noscript {
    font-size: 1.25rem;
    color: red;
    text-align: center;
    margin-top: 2rem;
}

.tooltip {
    max-width: 30rem;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    border-radius: 4px;
    z-index: 20;
    display: none;
}

.tooltip[data-show] {
    display: block;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.tooltip[data-theme='dark'] {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    max-width: 60rem;
    padding: 4px 8px;
}

.tooltip[data-theme='dark'][data-popper-placement^='top']>.arrow {
    bottom: -4px;
    border-color: transparent transparent #333 transparent;
}

.tooltip[data-theme='dark'][data-popper-placement^='bottom']>.arrow {
    top: -4px;
    border-color: #333 transparent transparent transparent;
}

.tooltip[data-theme='dark'][data-popper-placement^='left']>.arrow {
    right: -4px;
    border-color: transparent #333 transparent transparent;
}

.tooltip[data-theme='dark'][data-popper-placement^='right']>.arrow {
    left: -4px;
    border-color: transparent transparent transparent #333;
}

.tooltip[data-theme='light'] {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    padding: 4px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.tooltip[data-theme='light'][data-popper-placement^='top']>.arrow {
    bottom: -4px;
    border-color: transparent transparent #fff transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.tooltip[data-theme='light'][data-popper-placement^='bottom']>.arrow {
    top: -4px;
    border-color: #fff transparent transparent transparent;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, .3);
}

.tooltip[data-theme='light'][data-popper-placement^='left']>.arrow {
    right: -4px;
    border-color: transparent #fff transparent transparent;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
}

.tooltip[data-theme='light'][data-popper-placement^='right']>.arrow {
    left: -4px;
    border-color: transparent transparent transparent #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}